@import url("https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong");

* {
    margin:0;
    padding:0%;
    box-sizing: border-box;
    font-family:"Audiowide", sans-serif ;
}

.container-fluid{
    width:90% ;
    height:auto;
    

}
.table-responsive{
    max-height: 700px;
    /* max-width: 700px; */
    box-shadow: rgba(0,0,0) 0px 25px 50px -12px;
     /* background-color: black;  */
    padding: 5px;
    text-decoration: none;
    
}
.thead-dark{
font-weight: bold;
text-transform: uppercase;
color:aliceblue
}

 /* tr:hover{ 
    background-color: aqua;
} */

.table tr td:hover:nth-child(1){
    background-color: rgb(215, 122, 233);
    color: black;
    border: .5px solid rgba(12,12,12);
}

.table tr td:hover:nth-child(4){
    background-color: darksalmon;
    color: black;
    border: .5px solid rgba(12,12,12);
}
.table tr td:hover:nth-child(6){
    background-color: cornflowerblue;
    color: black;
    border: .5px solid rgba(12,12,12);
    
}

.table tr td:hover:nth-child(8){
    background-color: rgb(228, 237, 100);
    color: black;
    border: .5px solid rgba(12,12,12);
    
}
/* td:hover::after,
th:hover::after{
    content:"";
    position:absolute;
    background-color: cornflowerblue;
    left:0;
    top:-5000px;
    height:5000px;
    width:100%;
    z-index: -1;
} */